.button {
  position: relative;
  background-color: #4c2500;
  border: 2px solid #fefefe;
  text-transform: uppercase;
  padding: 15px 10px;
  color: #fefefe;
  font-weight: 500;
  font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1440 - 320)));
}
