.nav {
  background-color: #0d1e28;
  color: white;
  padding: 15px 5px;
  max-height: 60px;
  transition: max-height 0.5s ease;
}
.nav__items {
  margin: 0 5% 0 5%;
  display: flex;
  flex-direction: row;
  list-style: none;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1440 - 320)));
}

.nav__permanent {
  display: flex;
  flex-grow: 3;
  justify-content: space-between;
}
.burger {
  flex-grow: 2;
  display: flex;
  align-self: center;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.nav__item:last-child {
  display: none;
}
.menu_toggle {
  position: relative;
  display: block;
  width: 30px;
  height: 26px;
  background: transparent;
  border-top: 4px solid;
  border-bottom: 4px solid;
  color: white;
  font-size: 0;
  transition: all 0.25s ease-in-out;
}
.menu_toggle:before,
.menu_toggle:after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: currentColor;
  transform: translate(-50%, -50%);
  transition: transform 0.25s ease-in-out;
}

.is_active {
  border-color: transparent;
}
.is_active:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.is_active:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

@media screen and (max-width: 768px) {
  .burger {
    flex-direction: column;
    display: none;
  }
  .open {
    max-height: 300px;
  }
  .openAnimOn {
    animation: openAnim 0.3s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .burger.open {
    display: flex;
  }
  .nav__item:last-child {
    display: block;
  }
  .nav__permanent {
    width: 100%;
  }
}

@keyframes openAnim {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
