:root {
  --gap: calc(100px + (200 - 100) * ((100vw - 320px) / (1440 - 320)));
}


.main {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.content {
  margin: calc(60px + (120 - 60) * ((100vw - 320px) / (1440 - 320))) auto;
  width: 80%;
  display: flex;
}

.top__content {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.bottom_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (1440 - 320)));
  gap: 30px;
  margin-bottom: var(--gap);
}

.footer__image {
  width: calc(280px + (500 - 280) * ((100vw - 320px) / (1440 - 320)));
}

@media screen and (max-width: 900px) {
  .top__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .bottom_content {
    flex-direction: column;
  }
}
