.countdown {
  display: flex;
  gap: 20px;
}

.countdown__item {
  width: calc(40px + (50 - 40) * ((100vw - 320px) / (1440 - 320)));
  height: calc(40px + (50 - 40) * ((100vw - 320px) / (1440 - 320)));
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 3px rgba(49, 206, 255, 0.1);
  border-radius: 15px;
  font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1440 - 320)));
}
