.block {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.block__logo {
  width: 100%;
}

.block__title {
  color: #fefefe;
}

.block__button {
  width: calc(200px + (300 - 200) * ((100vw - 320px) / (1440 - 320)));
}
